/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(../img/img_background.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1417px;
    height: 100vh;
    color: aliceblue;
    
        margin: auto;
      
   
}
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
    margin-top: 46px;
}

.container1 {
    width: 310px;
    height: 914px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-left: 25px;
    border:solid rgb(143, 139, 139);
    background-color: #383838;
}

.container h1 {
    font-size: 50px;
}

.container h3 {
    margin-top: -35px;
    font-size: 25px;
}

.botoes {
    width:264px;
    height: 64px;
}

.botoes button {
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    
}
.container {
    display: flex;
}

.container2 {
    margin-left: 43px;
    width: 985px;
    height: 253px;
    font-size: 35px;
    margin-top: 50px;
    border:solid rgb(143, 139, 139);
    background-color: #383838;
}

.container2 h2 {
    margin: 10px;
}
.trilhas {
    margin: 43px;
    width: 449px;
    height: 310px;
    border:solid rgb(143, 139, 139);
    background-color: #383838;
    
}

.container3 {
    display: flex;
}

.trilhas h2 {
    margin: 10px 0px 0px 370px;
    font-size: 25px;
}
.trilhas h1 {
    margin-left: 10px;
    font-size: 80px;
}
.trilhas h1 a {
    margin-left: 10px;
    font-size: 80px;
}
.container4 {
    width: 985px;
    height: 250px;
    border: solid rgb(143, 139, 139);
    background-color: #383838;
    margin-left: 44px;
}
.container4 h2 {
    margin: 15px;
    font-size: 30px;
}
.container4 img {
    margin: 23px 23px 0px 20px
}