/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    text-align: -webkit-center;
    background-image: url(../img/img_background.png);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
   
}
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header1 {
    margin-top: 92px;
    width: 1200px;
    height: 58px;
}
.header {
    margin-top: 92px;
    width: 1200px;
    height: 58px;
}
h1{
    width: 100%;
    height: 100%;
    font-size: 48px;
}

.container1 {
    width: 647px;
    height: 29px;
}

.container1 h4 {
    width: 100%;
    height: 100%;
    font-size: 24px;
    margin-top: 15px;

}
.container {
    width: 958px;
    height: 558px;
    background-color: #1E1E1E ;
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}
.container10 {
    width: 958px;
    height: 558px;
    background-color: #1E1E1E ;
    margin-top: 43px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    TEXT-ALIGN: inherit;
    
    
    
}
.container6 {
   
    width: 958px;
    height: 558px;
    background-color: #1E1E1E ;
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.carreiras {
    width: 321px;
    height: 270px;
    margin: 0;
    border: 2px solid #000;

    
}
.carreiras:hover{
    background-color: #56FE0C;
    cursor: pointer;
}
.carreiras H3 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.h4 {
    font-size: 20px;
    color: #56FE0C;
    
}

.materia {
    width: 257px;
    height: 270px;
    background-color: #56FE0C;
    margin: 40px;
}

.medida {
  margin: 50px;
  width: 100px;
  height: 65px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: rgb(200, 192, 177);
}
.medida:hover {
    background-color: #56FE0C;
  }
.materia h2 {
    font-size: 24px;
    color: #000;
    margin-top:10px ;
}

.materia img {
    image-rendering: auto;
    object-fit: cover;
    filter: brightness(1.2) contrast(1.2);
    margin-top: 15px;
}
.principal {
    display: flex;
    width: 800px;
    background-color: #000;
}
.container2 {
    width: 626px;
    height: 347px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botao_entraai {
    width: 313px;
    height: 48.78px;
    margin-top: 83px;
}

#botao1 {
    width: 200px;
    height: 50px;
    background-color: #56FE0C;
    border: none;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 704px;
}
#botao1:hover {
    background-color: #a049;
  }
